name: Build & Push (Docker Hub)

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build & Push Apache image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/apache/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/transitflow-apache:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/transitflow-apache:${{ github.sha }}
